@media screen and (min-width: 768px) {
  .card {
    width: 50%; 
    background-attachment: local;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 33%; 
    
  }
}

#root {
  align-content: center;
  justify-content: center;
  padding-top: 1.5rem;
  width: 100%;
}

.card {
  padding: 1.5rem;
  width: 100%;
}

.read-the-docs {
  color: #888;
}
