
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {

  display: flex;

  min-width: 320px;
  min-height: 100vh;
  background-image: url('https://earthsky.org/upl/gravity_forms/6-d184048789a60d766a02a8e43117298b/2022/08/White-desert-1.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

h2 {
  font-weight: bolder;
  font-family: "Ubuntu", sans-serif;
}

.dButton {
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1.4rem;
  font-weight: 200;
  background: linear-gradient(to bottom, #101062, #8c6194); 
  color: white;
  cursor: pointer;
  transition: background 0.25s, color 0.25s;
  font-family: 'DM Sans', sans-serif;
  border-radius: 1rem;
  margin: .5rem;
}
button:hover {
   opacity: 0.7; 
}

.row {
  display: flex;
  row-gap: 1rem;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'ubuntu', sans-serif;
  text-align: center;
}
.nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-left: flex-start;
  font-size: 1.6rem;
  min-width: 320px;
  max-width: 3000px;
  justify-content: stretch;
  background: rgba(173, 169, 169, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  z-index: 5;
  position: sticky;
}
.navbarset{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.navbarset a {
  float: left;
  font-size: 30px;
  color: #4c3061;
  text-align: center;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}
.cosmic {
  color: #fff;
  font-size: 4rem;
  font-weight: 500;
  line-height: inherit;
  text-decoration: none;
  white-space: nowrap;
  font-family: 'Ubuntu', sans-serif;
  padding-right: 10rem;
  padding-left: 1rem
}
::-webkit-scrollbar {
  width: 20px; 
}
::-webkit-scrollbar-track {
  background: hsl(264, 75%, 21%); 
}
::-webkit-scrollbar-thumb {
  background: #242570; 
  border-radius: 6px; 
}
::-webkit-scrollbar-thumb:hover {
  background: #750195; 
}
.anav {
  color: #4c3061;;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: inherit;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  padding: .8rem;
}
.searchBar {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  height: 50px;
  border-radius: 25px;
  background: #fff;
  color: #101062;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.08);
  font-family: 'DM Sans', sans-serif;
}
.dropdown .dropbtn {
  align-content: center;
  justify-content: center;
  border: none;
  outline: none;
  color: #4c3061;
  padding: 14px 16px;
  background-color: inherit;
  font-family: 'Ubuntu', sans-serif;
  overflow:visible;
  font-weight: 500;
}
.navspace{
  padding-right: 15rem;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #674185;
  border-radius: 1rem;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  opacity: 1;
  border-radius: 1rem;
  align-content: center;
  justify-content: center;
}


.dropdown-content a {
  float: none;
  color: #4c3061;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #68418562;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.detailscard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'ubuntu', sans-serif;
  text-align: center;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  padding: 4rem;
  margin: 2rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
  color: #674185;
  text-align: left;
  font-weight: bolder;
}