:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-image: url('https://earthsky.org/upl/gravity_forms/6-d184048789a60d766a02a8e43117298b/2022/08/White-desert-1.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.detailsButton {
  border: none;
  padding: 0.6em 1.2em;
  font-size: .8rem;
  font-weight: 200;
  background: linear-gradient(to bottom, #101062, #8c6194); 
  color: white;
  cursor: pointer;
  transition: background 0.25s, color 0.25s;
  font-family: 'DM Sans', sans-serif;
}
button:hover {
   opacity: 0.7; 
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.row {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  row-gap: 1rem;
}
.card-container {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  max-width: auto;
  padding-right: .2rem;
  padding-left: .2rem;
  justify-content: center;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
}
.navbarset, .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .3rem 1rem;
  background-color: darkgray;
  opacity: 0.8;
  font-size: 1.6rem;
  min-width: 320px;
  margin: 0 ;
  box-sizing: content-box;
}
.navbarset a {
  float: left;
  font-size: 30px;
  color: #674185;
  text-align: center;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 5rem;
}
.cosmic {
  color: #fff;
  font-size: 4rem;
  font-weight: 500;
  line-height: inherit;
  text-decoration: none;
  white-space: nowrap;
  font-family: 'Ubuntu', sans-serif;
}
::-webkit-scrollbar {
  width: 8px; 
}
::-webkit-scrollbar-track {
  background: #281e4a; 
}
::-webkit-scrollbar-thumb {
  background: #373867; 
  border-radius: 4px; 
}
::-webkit-scrollbar-thumb:hover {
  background: #18084a; 
}
.anav {
  color: #674185;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: inherit;
  text-decoration: none;
  white-space: nowrap;
  font-family: 'Ubuntu', sans-serif;
  padding: .8rem;
}
.searchBar {

  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  height: 50px;
  border-radius: 25px;
  background: #fff;
  color: #101062;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.08);
  font-family: 'DM Sans', sans-serif;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
  overflow:visible;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #674185;
}

.dropdown-content {
  display: none;
  position:fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  opacity: 1;
}


.dropdown-content a {
  float: none;
  color: #674185;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #68418562;
}

.dropdown:hover .dropdown-content {
  display: block;
}
